@import "tailwindcss";

@theme {
	--font-sans: "Open Sans", sans-serif;
	--font-serif: "Newsreader", serif;
	--font-mono: "JetBrains Mono", monospace;
}

@layer base {
	:root {
		--selection: #a3b18a;
	}

	*::selection {
		background-color: #344532;
		color: var(--selection);
	}

	b::selection {
		color: var(--selection);
	}

	body {
		@apply antialiased;
	}
}

@layer utilities {
	.debug {
		@apply border border-red-500;
	}

	.title {
		@apply font-serif text-zinc-900 mb-2 font-medium;
	}

	.paragraph {
		@apply font-sans text-sm [&>b]:font-medium text-black [&>b]:text-black [&>i]:font-serif;
	}
}
