---
import { textVide } from 'text-vide';
---

<section>
  <h2 class="title">Experiences</h2>
  <ul class="*:block">
    <li>
      <div class="flex items-center justify-between font-serif text-sm">
        <span>
          <a href="https://www.devscale.id/" class="underline">Devscale Indonesia</a> | Remote
        </span>
        <span class="text-xs">Sep 2024 - Dec 2024</span>
      </div> 
      <div class="space-y-2">
        <h3 class="font-serif text-sm">Full-Stack Developer Internship</h3>
        <ul class="list-disc space-y-2 text-balance pl-4">
          <li>
            <p class="paragraph" set:html={textVide("Contributed to 60–70% of the platform redevelopment, handling both front-end and back-end tasks using ElysiaJS, RemixJS, and TypeScript. Designed and implemented a back-end system with a layered architecture and ensured strong type safety across the codebase. Developed core features, including authentication, UI components, JavaScript code evaluation for coding challenges, UI animations, and more.")} />
          </li>
          <li>
            <p class="paragraph" set:html={textVide("Fixed bugs and implemented minor features on the legacy platform to maintain functionality and improve user experience")} />
          </li>
        </ul> 
      </div>
    </li>
  </ul> 
</section>
