<footer class="mt-16 pb-2 *:font-serif *:underline *:text-base flex space-x-4">
  <a href="https://x.com/trshppl" target="_blank">X.</a>
  <a href="https://github.com/kraken-afk" target="_blank">Github.</a>
  <a href="https://www.linkedin.com/in/noveanrer" target="_blank">LinkedIn.</a>
</footer>
