---
import { extractWakaTimeStats } from '@libs/extractWakaTimeStats';
import { parseWakatimeStats } from '@libs/parseWakatimeStats';
import clsx from 'clsx';

const endpoint =
  'https://raw.githubusercontent.com/kraken-afk/kraken-afk/refs/heads/main/README.md';

const response = await fetch(endpoint, {
  headers: {
    'Cache-Control': 'max-age=14400', // 4 hours in seconds
  },
  cache: 'force-cache',
});

if (response.status !== 200) {
  throw Error('Something went error');
}

const markdown = await response.text();
const stats = extractWakaTimeStats(markdown);

if (!stats) {
  throw Error('Something went error');
}

const prolang = parseWakatimeStats(stats.prolang).reduce<{
  name: string[];
  timeString: string[];
  bar: string[];
  percentageString: string[];
}>(
  (acc, v) => {
    acc.name.push(v.name);
    acc.bar.push(v.bar);
    acc.timeString.push(v.timeString);
    acc.percentageString.push(v.percentageString);

    return acc;
  },
  { name: [], timeString: [], bar: [], percentageString: [] },
);
---
<section>
  <h2 class="title">This Week I Spent My Time On</h2>
  <div class="text-base font-serif">
    <div class="flex items-center justify-between">
      {Object.entries(prolang).map(([key, stats]) => (
        <div  class="flex flex-col">
          {stats.map((value) => (
            <span
              class={clsx(key === 'bar' && 'font-mono hidden sm:inline')}
            >
              {value} {key === 'percentageString' && '%'}
            </span>
          ))}
        </div>
      ))}
    </div>
  </div>
</section>
